.list {
  background-color: black;
  padding: 20px 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.item a {
  font-family: var(--font-orbitron);
  color: white;
  text-decoration: none;
}
.bar {
  border-right: 1px solid white;
}
.title {
  font-family: var(--font-orbitron);
  color: #40e0d0;
}
